gradle-*.zip
*.zip
twa-project/app/build/
twa-project/.gradle/
node_modules/
twa-project/app/dgriffe-release.keystore
twa-project/local.properties
src/pages/.hermes-tmp.*
dist/
.env
server/.env

.env
server/.env
supabase/final.sql
supabase/completo.sql
